{{#each posts}}
<div class="card col-sm-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
  </div>
  {{!-- <div class="col-sm-10">
      <p id="postComment">Comment</p>
  </div> --}}
</div>
{{/each}}