<div class="card" "col-sm-10" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title" "postTitle">Title</h5>
    <p class="card-text" "postContent">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div>
      <button>Submit</button>
  </div>
</div>