<div class="form-floating mb-3" "col-sm-10">
  <input class="form-control" "postTitle" id="floatingInput" placeholder=" ">
  <label for="floatingInput">Title</label>
</div>
<div class="form-floating" "col-sm-10">
  <input class="form-control" "postTitle" id="floatingPassword" placeholder=" ">
  <label for="floatingPassword">Content</label>
</div>
  <div>
      <button>Submit</button>
  </div>
</div>

<script src="/js/create-post.js"></script>