<form id="submit-form">
<div class="form-floating mb-3 container col-sm-4">
  <input class="form-control postTitle" id="floatingInput" placeholder=" ">
  <label for="floatingInput">Title</label>
</div>
<div class="form-floating container col-sm-4">
  <input class="form-control postContent" id="floatingPassword" placeholder=" ">
  <label for="floatingPassword">Content</label>
</div>
<div class="form-group container col-sm-4">
    <button class="btn btn-primary">Submit</button>
    {{!-- <a class="nav-link active" "navLogin" aria-current="page" href="/login">Login</a> --}}
</div>
</form>


<script src="/js/create-post.js"></script>