<div class="card" "col-sm-10" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{Post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
  </div>
</div>

 <div>
      <button>Submit</button>
  </div>